body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg, #1f4037, #99f2c8);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: rgba(0, 0, 0, 0.8);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #ffcc00;
}

label {
    font-size: 1.2rem;
    margin-bottom: 10px;
    display: block;
}

input {
    padding: 12px;
    width: 80%;
    margin: 10px 0 20px 0;
    border-radius: 30px;
    border: none;
    text-align: center;
    font-size: 1rem;
    outline: none;
}

button {
    padding: 12px 20px;
    border: none;
    border-radius: 30px;
    background-color: #ffcc00;
    color: #000;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

button:hover {
    background-color: #ffaa00;
}

#result {
    margin-top: 20px;
    font-size: 1.2em;
}

#result p {
    margin: 10px 0;
    color: #ffcc00;
}
